{% extends 'base.html.twig' %}

{% block title %}MicroPost index{% endblock %}

{% block body %}
    <h1>MicroPost index</h1>

    <table class="table">
        <thead>
            <tr>
                <th><b data-toggle="popover" title="The #ID">Id</b></th>
                <th>Title</th>
                <th>Time</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for micro_post in micro_posts %}
            <tr>
                <td>{{ micro_post.id }}</td>
                <td>{{ micro_post.title }}</td>
                <td>{{ micro_post.time ? micro_post.time|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('micro_post_show', {'id': micro_post.id}) }}">show</a>
                    <a href="{{ path('micro_post_edit', {'id': micro_post.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('micro_post_new') }}">Create new</a>
{% endblock %}
